@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

:root {
    --clr-primary-lg-pink: linear-gradient(0deg, rgba(240,42,166,1) 0%, rgba(255,111,72,1) 95%);
    --clr-primary-lg-purple: linear-gradient(0deg, rgba(240,42,166,1) 0%, rgba(72,81,255,1) 100%);
    --clr-primary-pink: #F74780;
    --clr-primary-light-pink: #FFA7C3;

    --clr-neutral-lg-w: linear-gradient(0deg, rgba(240,241,255,1) 0%, rgba(255,255,255,1) 100%);
    --clr-neutral-db: #13183F;
    --clr-neutral-gb: #666CA3;
    --clr-neutral-lg: #83869A;
    --clr-neutral-w: #ffffff;

    --ff: 'Plus Jakarta Sans', sans-serif;
    --fs-h-xl: 5.6rem;
    --fs-h-l: 4rem;
    --fs-h-ml: 3.2rem;
    --fs-h-sl: 2.4rem;
    --fs-h-ex-sl: 2rem;
    --fs-b-m: 1.8rem;
    --fs-b-s: 1.6rem;
    --fw-m: 500;
    --fw-b: 700;
    --fw-eb: 800;
}

*, *::before, *::after {
    box-sizing: border-box;
}

  * {
    margin: 0;
    padding: 0;
}

  html {
    font-size: 62.5%;
}

  html, body {
    height: 100%;
}

  body {
    font-family: var(--ff);
    font-size: var(--fs-b-s);
    line-height: 1.5;
}

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

  input, button, textarea, select {
    font: inherit;
}

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h4 {
    color: var(--clr-neutral-db);
}

p {
    color: var(--clr-neutral-lg);
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 92%;
    margin-inline: auto;
}

header {
    padding: 1.6rem 0;
    margin-bottom: 3.8rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    position: relative;
}

.btn {
    border: none;
    border-radius: 28px;
    cursor: pointer;
    padding: 1.1rem 2.4rem;
    font-weight: var(--fw-m);
    color: var(--clr-neutral-w);
    transition: all .2s ease-in-out;
}

.btn-dark {
    background: var(--clr-neutral-db);
}

.btn-pink {
    background: var(--clr-primary-lg-pink);
}

.btn-purple {
    background: var(--clr-primary-lg-purple);
}

.hero-section-content {
    margin-bottom: 4.6rem;
}

.hero-section-title {
    font-weight: var(--fw-eb);
    line-height: 1.2;
    font-size: var(--fs-h-l);
    margin-bottom: 2.6rem;
}

.hero-section-text {
    margin-bottom: 2.6rem;
}

.courses-section {
    background: var(--clr-neutral-lg-w);
    padding: 6rem 0;
}

.course-alert {
    background: var(--clr-primary-lg-pink);
    padding: 2.4rem 2.8rem;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.course-alert-title {
    font-size: var(--fs-h-sl);
    font-weight: var(--fw-eb);
    color: var(--clr-neutral-w);
}

.course-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--clr-neutral-w);
    border-radius: 10px;
    padding: 0 2.5rem 4rem;
}

.course-card:not(:last-child) {
    margin-bottom: 4rem;
}

.course-icon {
    position: absolute;
    top: -25px;

}

.course-title {
    font-weight: var(--fw-eb);
    font-size: var(--fs-h-ex-sl);
    padding-top: 5rem;
    padding-bottom: 1.6rem;
}

.course-text {
    padding-bottom: 2.4rem;
}

.course-link {
    font-size: var( --fs-b-m);
    font-weight: var(--fw-b);
    text-decoration: none;
    background-image: var(--clr-primary-lg-pink);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

footer {
    padding: 3.6rem 1.6rem;
    background: var(--clr-neutral-db);
}

@media (min-width: 768px) {
    img, picture, video, canvas, svg {
        max-width: none;
    }

    .container {
        max-width: 68rem;
        margin-inline: auto;
    }

    .hero-section {
        display: flex;
        align-items: center;
        min-height: 50vh;
        padding: 15rem 0;
    }

    .hero-section-content {
        margin-bottom: 0;
        max-width: 40rem;
    }

    .hero-image {
        position: absolute;
        top: -5.213rem;
        right: -30.771rem;
    }

    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5.6rem;
        column-gap: 1rem;
    }

    .course-alert {
        margin-bottom: 0;
        padding: 5.6rem 2.8rem;
    }

    .course-card:not(:last-child) {
        margin-bottom: 0;
    }
}

@media (min-width: 1400px) {
    img, picture, video, canvas, svg {
        max-width: none;
    }

    body {
        font-size: var(--fs-b-m);
    }
    .container {
        max-width: 111rem;
        margin-inline: auto;
    }

    .btn-dark:hover {
        background-color: #666CA3;
    }
    
    .btn-pink:hover,
    .btn-purple:hover {
    opacity: .5;
    }

    .hero-section-content {
        margin-bottom: 0;
        max-width: 45.7rem;
    }

    .hero-image {
        position: absolute;
        top: -15.213rem;
        right: -30.771rem;
    }

    .courses {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5.6rem;
        column-gap: 3rem;
    }

    .course-alert-title {
        font-size: var(--fs-h-ml);
        max-width: 28rem;
    }

    .course-title {
        font-size: var(--fs-h-sl);
    }

    .course-link:hover {
        color: var(--clr-primary-light-pink);
    }    

    .hero-section-title {
        font-size: var(--fs-h-xl);
    }

    .hero-section-text {
        font-size: var(--fs-b-m);
    }

}